[submodule "OpenCV-4-with-Python-Blueprints-Second-Edition"]
	path = OpenCV-4-with-Python-Blueprints-Second-Edition
	url = https://github.com/PacktPublishing/OpenCV-4-with-Python-Blueprints-Second-Edition
